<div class="top-footer">
    <div class="footer-inner">
        <div>
            <h3 class="medium-txt"><i class="fas fa-camera"></i> About Us</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s.</p>
        </div>
        <div>
            <h3 class="medium-txt"><i class="fas fa-camera"></i> Customer Service</h3>
            <ul class="footer-list">
                <li><a class="footer-link" href="#">Delivery Information</a></li>
                <li><a class="footer-link" href="#">Privacy Policy</a></li>
                <li><a class="footer-link" href="#">Shipping</a></li>
                <li><a class="footer-link" href="#">Terms of Conditions</a></li>
            </ul>
        </div>
        <div>
            <h3 class="medium-txt"><i class="fas fa-camera"></i> Just Ordered</h3>
            <ul class="footer-list">
                <li>
                    <img src="assets/img/tiny/13030.jpg" alt="img1">
                    <div>
                        <a href="#">Arrangement in Grey and Black</a><br>
                        <span>5 minutes ago</span>
                    </div>
                </li>
                <li>
                    <img src="assets/img/tiny/116010.jpg" alt="img2">
                    <div>
                        <a href="#">Artist Holding a Thistle</a><br>
                        <span>11 minutes ago</span>
                    </div>
                </li>
                <li>
                    <img src="assets/img/tiny/113010.jpg" alt="img3">
                    <div>
                        <a href="#">Self-portrait in a Straw Hat</a><br>
                        <span>23 minutes ago</span>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <h3 class="medium-txt"><i class="fas fa-camera"></i> Contact us</h3>
            <div class="form-group">
                <input class="form-control form-control-lg" type="text" placeholder="Enter name...">
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" type="text" placeholder="Enter email...">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="validationTextarea" placeholder="Enter message" required></textarea>
            </div>
            <button class="btn btn-primary full-width">Submit</button>
        </div>
    </div>

</div>
<footer class="bottom-footer">
    <div class="footer-bottom-inner">
        <span>All images are copyright to their owners. This is just a hypothetical site</span>
        <span>© 2021 Copyright Art Store</span>
    </div>
</footer>