<div id="about-container">
    <div id="about-container-inner">
        <!-- <i class="fas fa-camera"></i>
        <i class="far fa-address-card"></i> -->
        <app-header></app-header>
        <div class="art-content">
            <div class="art-c1">
                <h1>Self-portrait in a Straw Hat
                </h1>
                <p>By <a href="#">Louise Elisabeth Lebrun</a></p>
                <div class="art-c1-content">
                    <div class="left"></div>
                    <div class="right">
                        <p>The painting appears, after cleaning, to be an autograph replica of a picture, the original
                            of which
                            was painted in Brussels in 1782 in free imitation of Rubens's 'Chapeau de Paille', which
                            LeBrun had seen
                            in Antwerp. It was exhibited in Paris in 1782 at the Salon de la Correspondance. LeBrun's
                            original is
                            recorded in a private collection in France.</p>
                        <h2 class="red-text">$700</h2>
                        <div class="btn-group full-width">
                            <button class="btn btn-light btn-bordered">Add to Wish List</button>
                            <button class="btn btn-light btn-bordered">Add to Shopping Cart</button>
                        </div>
                        <br>
                        <br>
                        <table class="product-table">
                            <thead>
                                <tr>
                                    <td colspan="2">Product Details</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Date:</td>
                                    <td>1782</td>
                                </tr>
                                <tr>
                                    <td>Medium:</td>
                                    <td>Oil on canvas</td>
                                </tr>
                                <tr>
                                    <td>Dimensions:</td>
                                    <td>98cm x 71cm</td>
                                </tr>
                                <tr>
                                    <td>Home:</td>
                                    <td>National Gallery, London</td>
                                </tr>
                                <tr>
                                    <td>Genres:</td>
                                    <td>Realism, Rococo</td>
                                </tr>
                                <tr>
                                    <td>Subjects:</td>
                                    <td>People, Arts</td>
                                </tr>
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
                <br><br>
                <h1>Similar Products</h1>
                <div class="similar-products">
                    <app-similar-product-card *ngFor="let item of similarProducts" [cardItem]="item">
                    </app-similar-product-card>
                </div>
            </div>
            <div class="art-c2">
                <div class="left-sidebar-block light-blue">
                    <h3 class="block-header light-blue">Cart</h3>
                    <ul class="sidebar-list">
                        <li>
                            <img class="pull-left" src="assets/img/tiny/116010.jpg" alt="sm1">
                            <a class="tiny-txt align-text-left" href="#">Artist Holding a Thistle</a>
                        </li>
                        <li>
                            <img class="pull-left" src="assets/img/tiny/113010.jpg" alt="sm1">
                            <a class="tiny-txt align-text-left" href="#">Self-portrait in a Straw Hat</a>
                        </li>
                    </ul>
                    <div class="btn-below">
                        <p>Subtotal: $1200</p>
                        <div class="btn-group full-width">
                            <button class="btn btn-info">Edit</button>
                            <button class="btn btn-info">Checkout</button>
                        </div>
                    </div>
                </div>

                <div class="left-sidebar-block accent-blue">
                    <h3 class="block-header-accent accent-background">Popular Artists</h3>
                    <ul class="sidebar-list">
                        <li><a href="#">Caravaggio</a></li>
                        <li><a href="#">Cezanne</a></li>
                        <li><a href="#">Matisse</a></li>
                        <li><a href="#">Michelangelo</a></li>
                        <li><a href="#">Picasso</a></li>
                        <li><a href="#">Raphael</a></li>
                        <li><a href="#">Van Gogh</a></li>
                    </ul>
                </div>
                <div class="left-sidebar-block accent-blue">
                    <h3 class="block-header-accent accent-background">Popular Genres</h3>
                    <ul class="sidebar-list">
                        <li><a href="#">Baroque</a></li>
                        <li><a href="#">Cubism</a></li>
                        <li><a href="#">Impressionism</a></li>
                        <li><a href="#">Renaissance</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>