/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;

}

html, body {
    height: 100vh;
    width: 100vw;
}
/*  homepage css */
.cursive {
    font-family: 'Cookie', cursive;
}

.circle {
    border-radius: 50%;
}
.drop-shadow {
    text-shadow: 3px 3px 3px #000;
}

#home-container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    overflow: auto;
}

.r1 {
    background-color: black;
    background-image: url('./assets/img/david.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.r1-inner {
    width: 80%;
    height: 100%;
    margin: 0px auto;
}

.home-main-nav{
    padding-top: 25px;
}
.home-main-nav > ul {
    list-style: none;
}
.home-main-nav > ul > li {
    display: inline;
    font-size: 1.75em;
}
.home-main-nav > ul > li > a {
    color: #fff;
    text-decoration: none;
    padding: 15px .5em;
    text-shadow: 3px 3px 3px #000;
}
.home-main-nav > ul > li:first-child {
    font-family: 'Cookie', cursive;
}
.home-main-nav > ul > li:first-child a:hover {
    background-color: transparent;
    color: #428bca;
}
.home-main-nav > ul > li > a:hover {
    background-color: #fff;
    color: lightcoral;
}
.gallery-description {
    padding-top: 15%;
    padding-bottom: 40px;
    text-align: center;
    color: #fff;
    font-size: 1.4em;
}
.r2 {
    display: grid;
    padding: 4em 0em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    justify-items: center;
    width: 80%;
    margin: 0px auto;
    height: 100%;
}
.r2 > div {
    text-align: center;
}
.left-align {
    text-align: left;
}